nav {
    background-color: #000000; 
    text-align: right;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; 
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #000000; 
    margin: 0 5px;
}

nav a:hover {
    background-color: #000000; 
}


.img_deg {
    float: right;
    width: 50%;
}

.pos_cen{
    position: absolute;
    width: 70%;
}